<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Calculator</title>
        <style>
            table { border-collapse: collapse }
            td { border: 1px solid #d2d2d2 }

            td { padding: .25rem .5rem }

            [v-cloak] > * { display:none; }
            [v-cloak]::before { content: "loading..."; }
        </style>
    </head>
    <body>

        <div id="agent-calc" v-cloak>
            <div class="buttons-container">
                <button
                    v-for="(agentName, index) in agentNames"
                    :key="index"
                    @click="selectAgent(index)"
                >
                    {{ agentName }}
                </button>
            </div>

            <table>
                <tr>
                    <td>Копытная ванна, л. воды</td>
                    <td>{{ bathVolume }}</td>
                    <td colspan="3">л</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Цена руб/кг</td>
                    <td colspan="3">% разведения / кол-во / стоимость</td>
                </tr>

                <tr><th colspan="5">{{ agentNames[0] }}</th></tr>
                <tr>
                    <td>{{ agentNames[0] }}</td>
                    <td><input v-model="agentPrices[0]" /></td>
                    <td>{{ agentPercent(0, 1) }}%</td>
                    <td>{{ agentPercent(0, 2) }}%</td>
                    <td>{{ agentPercent(0, 3) }}%</td>
                </tr>
                <tr>
                    <td>кол-во средства на ванну {{ bathVolume }} л., кг.</td>
                    <td></td>
                    <td>{{ agentAmount(0, 1) }}</td>
                    <td>{{ agentAmount(0, 2) }}</td>
                    <td>{{ agentAmount(0, 3) }}</td>
                </tr>
                <tr>
                    <td>стоимость средства на ванну {{ bathVolume }} л., руб.</td>
                    <td></td>
                    <td>{{ agentPrice(0, 1) }}</td>
                    <td>{{ agentPrice(0, 2) }}</td>
                    <td>{{ agentPrice(0, 3) }}</td>
                </tr>
                <tr>
                    <td>Стоимость обработки на 1 голову КРС</td>
                    <td>руб./голову</td>
                    <td>{{ agentTreatmentPrice(0, 1) }}
                    <td>{{ agentTreatmentPrice(0, 2) }}
                    <td>{{ agentTreatmentPrice(0, 3) }}
                </tr>

                <tr><th colspan="5">{{ agentNames[activeAgent] }}</th></tr>
                <template v-if="activeAgent == 3">
                    <tr>
                        <td>Готовое средство {{ agentNames[0] }}</td>
                        <td><input v-model="agentPrices[0]" /></td>
                        <td>{{ agentPercent(0, 1) }}%</td>
                        <td>{{ agentPercent(0, 2) }}%</td>
                        <td>{{ agentPercent(0, 3) }}%</td>
                    </tr>
                    <tr>
                        <td>кол-во средства на ванну {{ bathVolume }} л., кг.</td>
                        <td></td>
                        <td>{{ agentAmount(0, 1) }}</td>
                        <td>{{ agentAmount(0, 2) }}</td>
                        <td>{{ agentAmount(0, 3) }}</td>
                    </tr>
                    <tr>
                        <td>стоимость средства на ванну {{ bathVolume }} л., руб.</td>
                        <td></td>
                        <td>{{ agentPrice(0, 1) }}</td>
                        <td>{{ agentPrice(0, 2) }}</td>
                        <td>{{ agentPrice(0, 3) }}</td>
                    </tr>
                </template>
                <tr>
                    <td>Готовое средство {{ agentNames[activeAgent] }}</td>
                    <td><input v-model="agentPrices[activeAgent]" /></td>
                    <td>{{ agentPercent(activeAgent, 1) }}%</td>
                    <td>{{ agentPercent(activeAgent, 2) }}%</td>
                    <td>{{ agentPercent(activeAgent, 3) }}%</td>
                </tr>
                <tr>
                    <td>кол-во средства на ванну {{ bathVolume }} л., кг.</td>
                    <td></td>
                    <td>{{ agentAmount(activeAgent, 1) }}</td>
                    <td>{{ agentAmount(activeAgent, 2) }}</td>
                    <td>{{ agentAmount(activeAgent, 3) }}</td>
                </tr>
                <tr>
                    <td>стоимость средства на ванну {{ bathVolume }} л., руб.</td>
                    <td></td>
                    <td>{{ agentPrice(activeAgent, 1) }}</td>
                    <td>{{ agentPrice(activeAgent, 2) }}</td>
                    <td>{{ agentPrice(activeAgent, 3) }}</td>
                </tr>
                <tr>
                    <td>ИТОГО</td>
                    <td></td>
                    <td>{{ agentPrice(activeAgent, 1) }}</td>
                    <td>{{ agentPrice(activeAgent, 2) }}</td>
                    <td>{{ agentPrice(activeAgent, 3) }}</td>
                </tr>
                <tr>
                    <td>Стоимость обработки на 1 голову КРС</td>
                    <td>руб./голову</td>
                    <td>{{ agentTreatmentPrice(activeAgent, 1) }}</td>
                    <td>{{ agentTreatmentPrice(activeAgent, 2) }}</td>
                    <td>{{ agentTreatmentPrice(activeAgent, 3) }}</td>
                </tr>
            </table>

        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>

    </body>
</html>
