<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Calculator</title>
        <style>
            * { font-family: sans-serif; font-size: 13px }
            table { border-collapse: collapse }
            td, th { border: 1px solid #d2d2d2; padding: .375rem .5rem }

            .input { padding: 0; background: green }
            .input input { border: 0; background: green; outline: none !important; font-weight: bold }

            .number { text-align: right }
            .hl { font-weight: bold }
            .result { color: green }

            [v-cloak] > * { display:none; }
            [v-cloak]::before { content: "loading..."; }
        </style>
    </head>
    <body>

        <div id="agent-calc" v-cloak>
            <div class="buttons-container">
                <button
                    v-for="(agent, index) in agents"
                    :key="agent.id"
                    @click="selectAgent(index)"
                >
                    {{ agent.name }}
                </button>
            </div>

            <table>
                <tr>
                    <td>Копытная ванна, л. воды</td>
                    <td class="hl">{{ bathVolume }}</td>
                    <td colspan="3">л</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Цена руб/кг</td>
                    <td colspan="3">% разведения / кол-во / стоимость</td>
                </tr>

                <tr><th colspan="5">{{ sulfur.base.name }}</th></tr>
                <tr>
                    <td class="hl">{{ sulfur.base.name }}</td>
                    <td class="input"><input v-model="sulfur.base.price" /></td>
                    <td v-for="agentCase in sulfur.base.cases" class="number hl">
                        {{ agentCase }}%
                    </td>
                </tr>
                <tr>
                    <td>кол-во средства на ванну {{ bathVolume }} л., кг.</td>
                    <td></td>
                    <td v-for="(agentCase, index) in sulfur.base.cases" class="number">
                        {{ agentAmount(sulfur.base, index) }}
                    </td>
                </tr>
                <tr>
                    <td>стоимость средства на ванну {{ bathVolume }} л., руб.</td>
                    <td></td>
                    <td v-for="(agentCase, index) in sulfur.base.cases" class="number hl">
                        {{ agentPrice(sulfur.base, index) }}
                    </td>
                </tr>
                <tr>
                    <td class="number hl result">Стоимость обработки на 1 голову КРС</td>
                    <td>руб./голову</td>
                    <td v-for="(agentCase, index) in sulfur.base.cases" class="number hl result">
                        {{ agentTreatmentPrice(sulfur.base, index) }}
                    </td>
                </tr>

                <tr><th colspan="5">{{ agents[activeAgent].name }}</th></tr>
                <!--
                <template v-if="activeAgent == 3">
                    <tr>
                        <td>Готовое средство {{ agentNames[0] }}</td>
                        <td><input v-model="agentPrices[0]" /></td>
                        <td>{{ agentPercent(0, 1) }}%</td>
                        <td>{{ agentPercent(0, 2) }}%</td>
                        <td>{{ agentPercent(0, 3) }}%</td>
                    </tr>
                    <tr>
                        <td>кол-во средства на ванну {{ bathVolume }} л., кг.</td>
                        <td></td>
                        <td>{{ agentAmount(0, 1) }}</td>
                        <td>{{ agentAmount(0, 2) }}</td>
                        <td>{{ agentAmount(0, 3) }}</td>
                    </tr>
                    <tr>
                        <td>стоимость средства на ванну {{ bathVolume }} л., руб.</td>
                        <td></td>
                        <td>{{ agentPrice(0, 1) }}</td>
                        <td>{{ agentPrice(0, 2) }}</td>
                        <td>{{ agentPrice(0, 3) }}</td>
                    </tr>
                </template>
                -->
                <tr>
                    <td class="hl">Готовое средство {{ agents[activeAgent].name }}</td>
                    <td class="input"><input v-model="agents[activeAgent].price" /></td>
                    <td v-for="agentCase in agents[activeAgent].cases" class="number">
                        {{ agentCase }}%
                    </td>
                </tr>
                <tr>
                    <td>кол-во средства на ванну {{ bathVolume }} л., кг.</td>
                    <td></td>
                    <td v-for="(agentCase, index) in agents[activeAgent].cases" class="number">
                        {{ agentAmount(agents[activeAgent], index) }}
                    </td>
                </tr>
                <tr>
                    <td>стоимость средства на ванну {{ bathVolume }} л., руб.</td>
                    <td></td>
                    <td v-for="(agentCase, index) in agents[activeAgent].cases" class="number">
                        {{ agentPrice(agents[activeAgent], index) }}
                    </td>
                </tr>
                <tr>
                    <td class="number hl result">ИТОГО</td>
                    <td></td>
                    <td v-for="(agentCase, index) in agents[activeAgent].cases" class="number hl">
                        {{ agentPrice(agents[activeAgent], index) }}
                    </th>
                </td>
                <tr>
                    <td class="number hl result">Стоимость обработки на 1 голову КРС</td>
                    <td>руб./голову</td>
                    <td v-for="(agentCase, index) in agents[activeAgent].cases" class="number hl result">
                        {{ agentTreatmentPrice(agents[activeAgent], index) }}
                    </td>
                </tr>
            </table>

        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>

    </body>
</html>
